# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Environment variables
.env

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Large datasets
*.csv
*.csv.zip
!data/raw/
!data/raw/02-14-2018.csv.zip
